* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    margin: 0;
}

body {
    background-image: url("img/bg.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}


.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 150px;
    max-width: 1400px;
    margin: 0 auto;
}

@media screen and (max-width: 1300px) {
    .block {
        padding: 50px 30px;
    }

}

.block__category {
    border: 5px solid red;
    width: 100%;
    margin-bottom: 100px;
    border-radius: 10px;
}

.block__category--2 {
    border: 5px solid blue;
}

.block__category--3 {
    border: 5px solid yellow;
}

.block__category--4 {
    border: 5px solid gold;
}

.block__category--5 {
    border: 5px solid greenyellow;
}

.block__category--6 {
    border: 5px solid purple;
}

.block__category--7 {
    border: 5px solid orange;
}

.block__category--8 {
    border: 5px solid rgb(124, 0, 128);
}

.block__category:last-child {
    margin-bottom: 0;
}

.block__category-title {
    font-weight: 600;
    text-align: left;
    background: #000;
    color: #fff;
    padding: 0px 20px;
    font-size: 75px;
    display: flex;
    align-items: center;
}

.block__category-items {
    display: flex;
    list-style: none;
    width: 100%;
}

.block__category-item {
    padding: 10px;
    flex: 1;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    backdrop-filter: blur(6px);
    font-size: 22px;
}

.block__category-ite:nth-child(2) {
    flex: 0 0 auto;
}

.block__category-button {
    padding: 11px 15px;
    font-size: 17px;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    transition: all 0.3s;
}

.block__category--copy {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    /*border-radius: ;*/
}

.block__category-button:hover {
    background-color: darkolivegreen;
}

.alert {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    font-size: 24px;
    transition: opacity 0.5s ease-in-out;

    background-color: cornflowerblue; /* синий цвет фона */
    color: #ffffff; /* белый цвет текста */
    border: 1px solid cornflowerblue; /* тонкая синяя граница */
    padding: 10px; /* отступы внутри элемента */
    border-radius: 5px; /* скругление углов границы */
}

.alert span {
    font-weight: 600;
}

.alert.alert--open {
    opacity: 1;
}
